<div class="toc-block">
  <h3><%= t("basics.title") %></h3>
  <ul>
      <li><a href="<%= locale_prefix %>/basics/getting-started/"><%= t("basics.getting_started") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/hello-world-html/"><%= t("basics.hello_world_html") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/hello-world-url/"><%= t("basics.hello_world_url") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/post-hoc-querying/"><%= t("basics.post_hoc_querying") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/aggregation/"><%= t("basics.aggregation") %></a></li>
      
  </ul>
</div>

<div class="toc-block">
  <h3><%= t("usecases.title") %></h3>
  <ul>
    <li><a href="<%= locale_prefix %>/usecases/competitor-coverage/"><%= t("usecases.competitor_coverage") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/domain-rank/"><%= t("usecases.domain_rank") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/market-coverage/"><%= t("usecases.market_coverage") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/app-store-monitor/"><%= t("usecases.app_store_monitoring") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/corn-hybrid/"><%= t("usecases.corn_hybrid") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/finding-job-openings/"><%= t("usecases.finding_job_openings") %></a></li>
  </ul>
</div>

<div class="toc-block">
  <h3><%= t("indices.title") %></h3>
  <ul>
    <li><a href="<%= locale_prefix %>/usecases/social-index/"><%= t("indices.social_index") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/commerce-index/"><%= t("indices.commerce_index") %></a></li>
  </ul>
</div>  



<div class="toc-block">
  <h3><%= t("reference.title") %></h3>
  <ul>
    <li><a href="<%= locale_prefix %>/reference/cli-reference/"><%= t("reference.cli_reference") %></a></li>
    
  </ul>
</div>
