<div class="toc-block">
  <h3><%= t("basics.title") %></h3>
  <ul>
      <li><a href="<%= locale_prefix %>/basics/getting-started/"><%= t("basics.getting_started") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/hello-world-html/"><%= t("basics.hello_world_html") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/your-name-html/"><%= t("basics.your_name_html") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/facebook-html/"><%= t("basics.facebook_html") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/twitter-html/"><%= t("basics.twitter_html") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/pinterest-html/"><%= t("basics.pinterest_html") %></a></li>
      
      <li><a href="<%= locale_prefix %>/basics/hello-world-url/"><%= t("basics.hello_world_url") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/blog-url/"><%= t("basics.blog_url") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/cli-reference/"><%= t("basics.cli_reference") %></a></li>
  </ul>
</div>

<div class="toc-block">
  <h3><%= t("advanced.title") %></h3>
  <ul>
    <li><a href="<%= locale_prefix %>/basics/competitor-coverage/"><%= t("advanced.competitor_coverage") %></a></li>
    <li><a href="<%= locale_prefix %>/basics/domain-rank/"><%= t("advanced.domain_rank") %></a></li>
    <li><a href="<%= locale_prefix %>/basics/market-coverage/"><%= t("advanced.market_coverage") %></a></li>
    <li><a href="<%= locale_prefix %>/basics/competitor-coverage/"><%= t("advanced.competitor_coverage") %></a></li>
    <li><a href="<%= locale_prefix %>/basics/app-store-monitor/"><%= t("advanced.app_store_monitoring") %></a></li>

    
    
  </ul>
</div>

<div class="toc-block">
  <h3><%= t("community.title") %></h3>
</div>
