<div class="toc-block">
  <h3><%= t("basics.title") %></h3>
  <ul>
    <li><a href="<%= locale_prefix %>/basics/html_search/"><%= t("basics.html_search") %></a></li>
    <li><a href="<%= locale_prefix %>/basics/send_notifications/"><%= t("basics.notifications") %></a></li>
    
    <li><a href="<%= locale_prefix %>/basics/index_your_results/"><%= t("basics.index_your_results") %></a></li>
    <li><a href="<%= locale_prefix %>/basics/count/"><%= t("basics.count") %></a></li>
    <li><a href="<%= locale_prefix %>/basics/joins/"><%= t("basics.joins") %></a></li>
    <li><a href="<%= locale_prefix %>/basics/third_party_libraries/"><%= t("basics.third_party_libraries") %></a></li>
    <li><a href="<%= locale_prefix %>/basics/specific_search/"><%= t("basics.specific_search") %></a></li>
    
  </ul>
</div>

<div class="toc-block">
  <h3><%= t("usecases.title") %></h3>
  <ul>
    <li><a href="<%= locale_prefix %>/usecases/competitor-coverage/"><%= t("usecases.competitor_coverage") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/domain-rank/"><%= t("usecases.domain_rank") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/market-coverage/"><%= t("usecases.market_coverage") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/app-store-monitor/"><%= t("usecases.app_store_monitoring") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/corn-hybrid/"><%= t("usecases.corn_hybrid") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/finding-job-openings/"><%= t("usecases.finding_job_openings") %></a></li>
  </ul>
</div>

<div class="toc-block">
  <h3><%= t("indices.title") %></h3>
  <ul>
    <li><a href="<%= locale_prefix %>/usecases/social-index/"><%= t("indices.social_index") %></a></li>
    <li><a href="<%= locale_prefix %>/usecases/commerce-index/"><%= t("indices.commerce_index") %></a></li>
  </ul>
</div>  

<div class="toc-block">
  <h3><%= t("reference.title") %></h3>
  <ul>
    <li><a href="<%= locale_prefix %>/reference/cli-reference/"><%= t("reference.cli_reference") %></a></li>
    
  </ul>
</div>
