<div class="toc-block">
  <h3><%= t("quickstart.title") %></h3>
  <h5>Start using Zillabyte in minutes.</h5>

  <ul>
    <li><a href="<%= locale_prefix %>/quickstart/hello_world/"><%= t("quickstart.getting_started") %></a></li>
    <li><a href="<%= locale_prefix %>/quickstart/installation/"><%= t("quickstart.installation") %></a></li>
    <li><a href="<%= locale_prefix %>/quickstart/tutorial/"><%= t("quickstart.tutorial") %></a></li>

    <li><a href="<%= locale_prefix %>/quickstart/apps/"><%= t("quickstart.apps") %></a></li>
    <li><a href="<%= locale_prefix %>/quickstart/components/"><%= t("quickstart.components") %></a></li>
    <li><a href="<%= locale_prefix %>/quickstart/aggregation/"><%= t("quickstart.aggregation") %></a></li>
    <li><a href="<%= locale_prefix %>/quickstart/faq/"><%= t("quickstart.faq") %></a></li>


  </ul>
</div>

<div class="toc-block">
  <h3><%= t("examples.title") %></h3>
  <h5>Learn by reading code and trying Zillabyte out.</h5>
  <ul>
    <li><a href="<%= locale_prefix %>/examples/index_commerce/"><%= t("examples.index_commerce") %></a></li>
    <li><a href="<%= locale_prefix %>/examples/domain_rank/"><%= t("examples.domain_rank") %></a></li>
    <li><a href="<%= locale_prefix %>/examples/web_metadata/"><%= t("examples.web_metadata") %></a></li>
    <li><a href="<%= locale_prefix %>/examples/job_openings/"><%= t("examples.job_openings") %></a></li>
    <li><a href="<%= locale_prefix %>/examples/app_monitor/"><%= t("examples.app_monitor") %></a></li>
    <li><a href="<%= locale_prefix %>/examples/market_coverage/"><%= t("examples.market_coverage") %></a></li>
    <li><a href="<%= locale_prefix %>/examples/tos/"><%= t("examples.tos") %></a></li>
    <li><a href="<%= locale_prefix %>/examples/python_crawler/"><%= t("examples.python_crawler") %></a></li>
    <li><a href="<%= locale_prefix %>/examples/crawled_screenshots/"><%= t("examples.crawled_screenshots") %></a></li>

  </ul>
</div>

<!--<div class="toc-block">
  <h3><%= t("documentation.title") %></h3>
  <h5>Learn how Zillabyte works under the hood.</h5>

  <ul>
    <li><a href="<%= locale_prefix %>/documentation/system/"><%= t("documentation.system") %></a></li>
        <li><a href="<%= locale_prefix %>/documentation/pipe/"><%= t("documentation.pipe") %></a></li>

    <li><a href="<%= locale_prefix %>/documentation/documentation/"><%= t("documentation.documentation") %></a></li>

  </ul>
</div>-->  

<div class="toc-block">
  <h3><%= t("cli_reference.title") %></h3>
  <h5>The possible Zillabyte commands.</h5>

  <ul>
    <li><a href="<%= locale_prefix %>/cli_reference/overview"><%= t("cli_reference.overview") %></a></li>
    <li><a href="<%= locale_prefix %>/cli_reference/apps"><%= t("cli_reference.apps") %></a></li>
    <li><a href="<%= locale_prefix %>/cli_reference/components"><%= t("cli_reference.components") %></a></li>
    <li><a href="<%= locale_prefix %>/cli_reference/queries"><%= t("cli_reference.queries") %></a></li>
    <li><a href="<%= locale_prefix %>/cli_reference/data"><%= t("cli_reference.data") %></a></li>
    <li><a href="<%= locale_prefix %>/cli_reference/rpc"><%= t("cli_reference.rpc") %></a></li>

  </ul>
</div>  

<div class="toc-block">
  <h3><%= t("api_reference.title") %></h3>
  <h5>The Zillabyte API</h5>

  <ul>
    <li><a href="<%= locale_prefix %>/api_reference/overview"><%= t("api_reference.overview") %></a></li>
    <li><a href="<%= locale_prefix %>/api_reference/rpc"><%= t("api_reference.rpc") %></a></li>
  </ul>
</div>  


<div class="toc-block">
  <h3><%= t("environments.title") %></h3>
  <h5>Zillabyte-supported languages.</h5>

  <ul>
    <li><a href="<%= locale_prefix %>/environments/ruby/"><%= t("environments.ruby") %></a></li>
    <li><a href="<%= locale_prefix %>/environments/python/"><%= t("environments.python") %></a></li>
    <li><a href="<%= locale_prefix %>/environments/js/"><%= t("environments.js") %></a></li>

  </ul>
</div>  



<div class="toc-block">
  <h3><%= t("community.title") %></h3>
  <h5>Find developers and businesses using Zillabyte.</h5>

  <ul>
    <li><a href="<%= locale_prefix %>/community/featured_devs/"><%= t("community.featured_devs") %></a></li>
    <li><a href="<%= locale_prefix %>/community/devs/"><%= t("community.devs") %></a></li>
    <li><a href="<%= locale_prefix %>/community/customers/"><%= t("community.customers") %></a></li>


  </ul>
</div>  
