<div class="toc-block">
  <h3><%= t("basics.title") %></h3>
  <ul>
      <li><a href="<%= locale_prefix %>/basics/getting-started/"><%= t("basics.getting_started") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/hello-world/"><%= t("basics.hello_world") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/hello-world-in-silicon-valley/"><%= t("basics.hello_world_in_silicon_valley") %></a></li>
      <li><a href="<%= locale_prefix %>/basics/app-store-monitoring/"><%= t("basics.app_store_monitoring") %></a></li>
      
      <li><a href="<%= locale_prefix %>/basics/cli-reference/"><%= t("basics.cli_reference") %></a></li>
      
  </ul>
</div>

<div class="toc-block">
  <h3><%= t("advanced.title") %></h3>
  <ul>
    <li>Aggregation</li>
    
    
  </ul>
</div>

<div class="toc-block">
  <h3><%= t("community.title") %></h3>
</div>
