!!!
%html{ :lang => 'en' }
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge,chrome=1"}
    %title= @title
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "root"
    
  %body.root
    
    :sass
      body,html
        margin: 0
        height: 100%
        width: 100% 
        font-family: 'Helvetica Neue', Helvetica, sans-serif
        
      body.root
        background-color: #f2f2f2
        
      #root_header
        overflow: hidden
        width: 100%
        height: 340px
      
      #root_header_outer
        width: 950px
        margin: 0 auto
        min-height: 400px         
        
      #root_header_inner
        background-image: url(/images/zillabyte_docs_blueprint.jpg)
        width: 1916px
        height: 482px
        position: relative
        top: -80px
        left: -481px
        margin: 0 auto
        
      .root_body
        background: white
        width: 900px
        margin: 0 auto
        min-height: 400px 
        padding: 30px
        
      h2
        font-size: 28px
        font-weight: bold
        margin: 0
      p
        margin: 0
      
      .root_box
        width: 370px
        margin: 20px 60px 30px 20px
        float: left
        overflow: auto
        ul
          margin: 10px 0 0 0
          padding: 0
          ul 
            margin: 0 0 0 10px
            list-style-type: circle
            li 
              margin-left: 15px
              padding-left: 0px
              list-style-type: circle
        li
          list-style: none
          margin: 0
          padding: 0
          padding-top: 6px
          font-weight: 500
          cursor: pointer 
        
      
      
    
    #root_header
      #root_header_outer
        #root_header_inner
    
    .root_body
    
      .root_box
        %h2 
          Getting Started
        %p
          Zillabyte's goal is allow you to ask questions from the world's information. In these quickstart guides, we'll begin with some simple questions.
          %ul
            %li
              &raquo; 
              = link_to "Hello Worlds", "/hello_worlds_quickstart.html"
            %li
              &raquo;
              = link_to "Hello Worlds in Silicon Valley", "/hello_worlds_in_silicon_valley_quickstart.html"
            %li
              &raquo;
              = link_to "Beyond the Web: Patents in Silicon Valley", "/patents_in_silicon_valley_quickstart.html"
            -#%li
              &raquo; Advanced Processing
              
      .root_box
        %h2 
          API Reference
        %p
          Write applications using an HTTP client in any of the languages below to query the Zillabyte system or retrieve metadata about your flows or relations.
          %ul
            %li
              &raquo;
              = link_to "The Basics", "/the_basics.html"
            %li
              &raquo;
              = link_to "CLI Reference", "/cli_reference.html"
            %li
              &raquo; Languages
            %ul
              %li
                Python
              %li
                Ruby
              %li
                Javascript
              %li
                Hack Your Own
              
                
      = yield
    

    %footer


    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
    = javascript_include_tag "plugins", "script"
    = javascript_include_tag "bootstrap.js"
    = javascript_include_tag "highlight.pack.js"
    = stylesheet_link_tag "solarized_light"
    %script hljs.initHighlightingOnLoad();


    -# Google Analytics: change UA-XXXXX-X to be your site's ID.
    -# uncomment when deploying
    / :javascript
    /   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    /   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    /   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    /   s.parentNode.insertBefore(g,s)}(document,'script'));
