---
layout: layout
---

<header id="hero">
  <h1><%= link_to image_tag("zillabyte.png", :alt => "Zillabyte"), "#{locale_prefix}/", { :class => 'logo' } %></h1>
  <h2><%= t("index.headline") %></h2>
</header>

<section role="main">
  <div id="install">
    <p><b class="console">$ gem install zillabyte</b></p>

  </div>

  <div class="container">
    <p class="intro"><%= t("index.description") %></p>
    <p class="intro sns">
      <span><i class="icon-github"> <%= link_to 'Watch', 'http://github.com/zillabyte' %></i></span>
      <span><i class="icon-twitter"> <%= link_to 'Get an invite code', 'http://twitter.com/intent/tweet?text=Using+this+tweet+to+get+early+access+to+@zillabyte' %></i></span>
    </p>

    <nav class="grid">
      <%= partial 'layouts/nav' %>
    </nav>

    <%= partial "layouts/support" %>
  </div>
</section>
